################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeSignal/bin/Debug/netstandard2.0
/CodeSignal/obj
/CodeSignal/CodeSignal.csproj.user
/CodeSignalConsoleTest
